services:
    backend:
        build:
            context: .
            dockerfile: dev.Dockerfile
        container_name: dreamfit_fastapi
        ports:
            - "8000:8000"
        env_file:
            - .env
        depends_on:
            - mongo
            - redis

    mongo:
        image: mongo:7
        container_name: dreamfit_mongo
        ports:
            - "27017:27017"
        volumes:
            - mongo_data:/data/db

    redis:
        image: redis:7
        container_name: dreamfit_redis
        ports:
            - "6379:6379"

volumes:
    mongo_data:
        name: dreamfit-app_mongo_data